<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<main layout:fragment="content">
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        CPU Chart
                    </div>
                    <div id="CPUChart" style="width:850px; height:400px; margin-left: -10px; margin-top:20px;"></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        GPU Chart
                    </div>
                    <div id="GPUChart" style="width:850px; height:400px; margin-left: -10px; margin-top:20px;"></div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                PC State
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>IP</th>
                        <th>Timestamp</th>
                        <th>State</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="temp : ${temps}">
                        <td th:text="${temp.id}"></td>
                        <td th:text="${temp.ip}"></td>
                        <td th:text="${#strings.replace(temp.dateTime, 'T', ' ')}"></td>
                        <td th:text="${temp.state}"></td>
                        <td>
                            <button type="button" class="btn btn-danger" th:attr="data-id=${temp.id}">삭제</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
</html>